{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}
    Report Exporting Service
{% endblock %}

{% block content %}
<h1> Welcome to the Report Exporting Service !</h1>
<p> Click the links below to export a report into either PDF or XML format</p>
<nav>
<ul class="formats">
   <li><a href="http://127.0.0.1:5000/pdf">PDF format</a></li>
   <li><a href="http://127.0.0.1:5000/xml">XML format</a></li>

</ul>
</nav>
{% endblock %}

